.chat_room{
    position: absolute;
    width: 15%;
    right: 0;
    height: 50%;
    bottom: 0;
    box-shadow: 0 0 10px black;
}
#chat_room_open{
    display: none;
}
.chat_history{
    height: calc(88% - 10px);
    background-color: transparent;
    padding: 5px;
    overflow: auto;
}
.chat_history::-webkit-scrollbar-button {
    display: none;
}
.chat_history::-webkit-scrollbar {
    width: 5px;
}
.chat_history::-webkit-scrollbar-thumb:vertical {
    cursor: pointer;
    width: 5px;background-color: rgb(84,84,84);
}

#chat_list{
    background-color: transparent;
    width: 100%;
    min-height: 0;
}
.chat_input_container{
    position: relative;
    height: 12%;
    
}
#chat_input{
    position: absolute;
    padding-left: 5px;
    
    height: 100%;
    width: 70%;
    outline: 0;
    border: 0;
    font-size: 25px;
}
#chat_input_button{
    position: absolute;
    right: 0;
    height: 100%;
    width: 28%;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.1s;
}
#chat_input_button:hover{
    background-color: azure;
}
/*  */
.chat_nc{
    display: inline;
}
.chat_name{
    width: 100%;
    background-color: aquamarine;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.chat_self{
    text-align: right;
}
.chat_time{
    width: auto;
    text-align: right;
    color: white;
    margin-bottom: 3px;
}
.chat_content{
    width: auto;
    word-break: break-all;
    background-color:floralwhite;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.chat_self_content{
}
.chat_self_content::first-line{
    text-align: right;
}
.chat_break{
    height: 3px;
}