.chat_room{
    position: fixed;
    
    width: 15%;
    right: 0;
    height: 50%;
    bottom: 0;

    /* background-color: rgba(0,0,0,0.3); */
/*  */
    /* backdrop-filter: blur(10px); */
    box-shadow: 0 0 10px black;
/*  */
}
.chat_history{
    height: calc(88% - 10px);
    /* background-color: gray; */
    /*  */
    background-color: transparent;
    /*  */
    padding: 5px;
    overflow: auto;
}
.chat_history::-webkit-scrollbar-button {
    display: none;
}
.chat_history::-webkit-scrollbar {
    width: 5px;
}
.chat_history::-webkit-scrollbar-thumb:vertical {
    cursor: pointer;
    width: 5px;background-color: rgb(84,84,84);
}
/*
.chat_history::-webkit-scrollbar-thumb:vertical:hover {
    
}
*/
#chat_list{
    /* background-color: aquamarine; */

    background-color: transparent;
    width: 100%;
    min-height: 0;
}
.chat_input_container{
    position: relative;
    height: 12%;
    
}
#chat_input{
    position: absolute;
    padding-left: 5px;
    
    height: 100%;
    width: 70%;
    outline: 0;
    border: 0;
    font-size: 25px;
}
#chat_input_button{
    position: absolute;
    right: 0;
    height: 100%;
    width: 28%;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.1s;
}
#chat_input_button:hover{
    background-color: azure;
}
/*  */
.chat_message{
    /* min-width: 50%;
    max-width: 100%; */
    /* background-color: white; */
    /* position: auto; */
    /* width: 100%; */
    /* font-size: large; */
    /* border-radius: 2px; */
    /* word-break: all; */
    /* padding-top: 3px; */
}
.chat_name{
    width: 100%;
    background-color: aquamarine;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.chat_self{
    text-align: right;
}
.chat_time{
    width: 100%;
    text-align: right;
    color: white;
}
.chat_content{
    width: 100%;
    word-break: break-all;
    background-color:floralwhite;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.chat_break{
    height: 3px;
}