.game_screen{

    display: none;
    position: absolute;
    width: var(--width);
    height: var(--height);
    background-image: url(../5.jpg);
}


.user_poker_area{
    position: absolute;
    width: 45%;
    left: 25%;
    height: 20%;
    bottom: 5%;
}

.user_oper{
    position: absolute;
    /*display: none;*/
    width: 60%;
    left: 20%;
    top: 55%;
}
.user_oper_button{
    position: relative;
    display: inline;
    margin-left: var(--operButtonMargin);
    border-radius: 5px;
    padding: calc(var(--operButtonPadd) * 0.4) var(--operButtonPadd);
    cursor: pointer;
    text-align: center;

    background-color: rgba(255,255,255,0.6);
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.3);
}
.user_oper_button_disabled{
    display: none;
}
.user_oper_button_enabled{
    display: block;
}
.bring_out_button{
    
}
.pass_button{
    
}
.cha_button{
    
}
.go_button{
    
}


.user_info{
    position: absolute;
    
    width: 15%;
    left: 0;
    height: 40%;
    bottom: 0;

    background-color: rgba(0,0,0,0.3);
}
.user_info > *{
}
#room_passcode{
    margin-top: 5px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}
#room_passcode:hover{
    background-color: white;
}
#player_name{
    background-color:white;
    padding: 10px 10px;
}
.start_game_button{
    display: none;
    margin: 10px;
    padding: 20px 0;
    text-align: center;
    border-radius: 5px;
    border: 2px solid white;
    background-color: hsl(0, 0%, 50%);
    color: white;
    cursor: pointer;

    transition: background-color 0.1s;
}
.start_game_button:hover{
    background: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 40%));
}

.exit_game_button{
    margin: 35px 10px;
    padding: 20px 0;
    text-align: center;
    border-radius: 5px;
    border: 2px solid white;
    background-color: hsl(0, 0%, 50%);
    color: white;
    cursor: pointer;
}
.exit_game_button:hover{
    background: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 40%));
}


#player_area{
    position: absolute;
    left: 0;
    top: 2%;
    width: 100%;
    height: 15%;
}
.other_player{
    display: inline-block;
    height: 100%;
    background-color: aqua;
    margin-left: var(--playerMargin);
    width: var(--playerWidth);
}



.chat_room{
    position: fixed;
    
    width: 15%;
    right: 0;
    height: 50%;
    bottom: 0;

    /* background-color: rgba(0,0,0,0.3); */
/*  */
    /* backdrop-filter: blur(10px); */
    box-shadow: 0 0 10px black;
/*  */
}
.chat_history{
    height: calc(88% - 10px);
    /* background-color: gray; */
    /*  */
    background-color: transparent;
    /*  */
    padding: 5px;
}
#chat_list{
    /* background-color: aquamarine; */
    background-color: transparent;
    width: 100%;
}
.chat_input_container{
    position: relative;
    height: 12%;
    
}
#chat_input{
    position: absolute;
    padding-left: 5px;
    
    height: 100%;
    width: 70%;
    outline: 0;
    border: 0;
    font-size: 25px;
}
#chat_input_button{
    position: absolute;
    right: 0;
    height: 100%;
    width: 28%;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.1s;
}
#chat_input_button:hover{
    background-color: azure;
}
/*  */
.chat_message{
    /* background-color: white; */
    /* position: auto; */
    /* width: 100%; */
    /* font-size: large; */
    /* border-radius: 2px; */
    /* word-break: all; */
    /* padding-top: 3px; */
}
.chat_name{
    width: 100%;
    background-color: aquamarine;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.chat_self{
    text-align: right;
}
.chat_time{
    width: 100%;
    text-align: right;
    color: white;
}
.chat_content{
    width: 100%;
    word-break: break-all;
    background-color:floralwhite;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.chat_break{
    height: 3px;
}
/*  */