.game_screen{

    display: none;
    position: absolute;
    width: var(--width);
    height: var(--height);
    background-image: url(../5.jpg);
    overflow: hidden;
}


.user_poker_area{
    position: absolute;
    width: 45%;
    left: 25%;
    height: 20%;
    bottom: 5%;
}

.user_oper{
    position: absolute;
    /*display: none;*/
    width: 60%;
    left: 20%;
    top: 60%;
}
.user_oper_button{
    position: relative;
    display: inline;
    margin-left: var(--operButtonMargin);
    border-radius: 5px;
    padding: calc(var(--operButtonPadd) * 0.4) var(--operButtonPadd);
    cursor: pointer;
    text-align: center;

    background-color: rgba(255,255,255,0.6);
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.3);
}
.user_oper_button_disabled{
    display: none;
}
.user_oper_button_enabled{
    display: inline;
}
.bring_out_button{
    
}
.pass_button{
    
}
.cha_button{
    
}
.go_button{
    
}


.user_info{
    position: absolute;
    
    width: 15%;
    left: 0;
    height: 40%;
    bottom: 0;

    background-color: rgba(0,0,0,0.3);
}
.user_info > *{
}
#room_passcode{
    margin-top: 1%;
    padding: 2% 2%;
    cursor: pointer;
    transition: background-color 0.2s;
}
#room_passcode:hover{
    background-color: white;
}
#player_name{
    background-color:white;
    padding: 2% 2%;
}
.start_game_button{
    display: none;
    margin: 2%;
    padding: 14% 0;
    text-align: center;
    border-radius: 5px;
    border: 2px solid white;
    background-color: hsl(0, 0%, 50%);
    color: white;
    cursor: pointer;

    transition: background-color 0.1s;
}
.start_game_button:hover{
    background: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 40%));
}

.exit_game_button{
    margin: 14% 2%;
    padding: 14% 0;
    text-align: center;
    border-radius: 5px;
    border: 2px solid white;
    background-color: hsl(0, 0%, 50%);
    color: white;
    cursor: pointer;
}
.exit_game_button:hover{
    background: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 40%));
}


#player_area{
    position: absolute;
    left: 0;
    top: 2%;
    width: 100%;
    height: 15%;
}
.other_player{
    display: inline-block;
    
    background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.9);
    border-radius: 100%;
    margin-left: var(--playerMargin);
    width: var(--playerWidth);
    height: var(--playerWidth);
}
.other_player > p{
    text-align: center;
    color : white;
    height: 50%;
}